/*-- scss:defaults --*/

$jasper: #B7593Fff;
$olive: #7B7238ff;
$dark-goldenrod: #C3811Bff;
$garnet: #6E2C2Cff;
$bistre: #31261Fff;

$body-bg: bistre;
$body-color: garnet;
$presentation-heading-color: dark-goldenrod;
$link-color: jasper;
$code-color: olive

/*-- scss:rules --*/